# Archivos de Android Studio (build)
.gradle/
build/
*/build/
*.iml
.idea/
*.apk
*.ap_
*.dex
*.class
local.properties
.externalNativeBuild
.cxx
 *.aar
 .DS_Store
 /app/build/outputs/*
 /app/build/reports/*
gradle-wrapper.properties
.gradle